body {
    background-color: grey;
}

h1 {
    color: rgb(255, 255, 255);
    background-color: rgba(34, 41, 43, 0.7);
    font-size: 40px;
}

h2, h3, h4, h5, h6 {
    color: white;
    font-size: 20px;
}

select {
    height: 25px;
    width: 120px;
}

input {
    padding: 10px;
    font-size: 15px;
}

.historial {
    float: right;
    margin-right: 500px;  
    background-color: white;  
}